<div class="home-container">
    <h1 class="title">Cosint <br> somnis a mida</h1>
    <button class="btn goproducts" (click)="goProducts()">
        <i class="fa-solid fa-paper-plane"></i>    Productes
    </button>

    <div class="product-grid">
      <div class="content">
        <div class="product-card" *ngFor="let product of products.message">
          <div class="prod-head">
            <div class="prod-img">
              <img src="../../../assets/img/{{product.images}}" alt="{{ product.name }}" class="product-image">
            </div>
          </div>
          <div class="prod-body-min">
            <h2 class="product-name">{{ product.name }}</h2>
            <p class="product-price">{{ product.price }} €</p>
            <button (click)="viewProductDetail(product.id)" class="btn btn-primary detall">Veure Detalls</button>
          </div>

        </div>
      </div>
    </div>
</div>
