body {
  background-color: var(--background);
}

.card {
  border: none;
}

.product {
  background-color: var(--background-2);
}

.brand {
  font-size: 16px;
}

.act-price {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 30px;
}

.dis-price {
  text-decoration: line-through;
}

.about {
  font-size: 14px;
}

.color {
  margin-bottom: 10px;
}

label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

label.radio span {
  padding: 2px 9px;
  border: 2px solid var(--third-color);
  display: inline-block;
  color: var(--secondary-color);;
  border-radius: 3px;
  text-transform: uppercase;
}

label.radio input:checked + span {
  border-color: var(--active-color);
  background-color: var(--third-color);
  color: #fff;
}

.btn-danger {
  background-color: var(--active-color);
  border-color: var(--font-color);
}

.btn-danger:hover,
label.radio input:checked + span:hover,
label.radio span:hover {
  box-shadow: 1px 2px 6px 1px rgba(0,0,0,0.8);
  background-color: var(--background-2);
  color: var(--font-hover);
  border: 1px solid var(--font-hover);
  transform: translateY(-2px);
}

.btn-danger:focus {
  box-shadow: none;
}

.cart i {
  margin-right: 10px;
}
