<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="index">Somnis a Mida</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item"><a class="nav-link" href="/index">HOME</a></li>
      <li class="nav-item"><a class="nav-link" href="/orders">Orders</a></li>
      <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
      <li class="nav-item">
        <button class="btn carret">
            <i class="fa-solid fa-cart-shopping"></i> Carret
        </button>
      </li>
    </ul>
  </div>
</nav>
