<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Número de Orden</th>
      <th scope="col">Nombre</th>
      <th scope="col">Email</th>
      <th scope="col">Dirección</th>
      <th scope="col">Cantidad de Productos</th>
      <th scope="col">Estado</th>
      <th scope="col">Método de Pago</th>
      <th scope="col">IBAN</th>
      <th scope="col">Precio</th>
      <th scope="col">Precio Total</th>
      <th scope="col">Costo de Envío</th>
      <th scope="col">Subtotal</th>
      <th scope="col">Impuesto</th>
      <th scope="col">Fecha de Entrega</th>
      <th scope="col">Fecha de Creación</th>
      <th scope="col" class="crud">CRUD</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of datos.message">
      <th scope="row">{{ order.order_number }}</th>
      <td>{{ order.name }}</td>
      <td>{{ order.email }}</td>
      <td>{{ order.address }}</td>
      <td>{{ order.product_quantity }}</td>
      <td>{{ order.status }}</td>
      <td>{{ order.payment_method }}</td>
      <td>{{ order.iban }}</td>
      <td>{{ order.price }}</td>
      <td>{{ order.total_price }}</td>
      <td>{{ order.shipping_cost }}</td>
      <td>{{ order.subtotal }}</td>
      <td>{{ order.tax }}</td>
      <td>{{ order.delivery_date | date: 'yyyy-MM-dd' }}</td>
      <td>{{ order.created_at | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
      <td class="crud">
        <button type="submit" class="action"> <i class="fa-solid fa-pen-to-square"></i> Editar</button>
        <button type="submit" class="second-action"><i class="fa-solid fa-trash"></i> Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

