* {
    --primary-color:#70A35E;
    --secondary-color: #477B43;
    --third-color: #B8D49F;
    --bad-color: #ED1B24;
    --active-color: #477B43;
    --greenBorder: #E6E6E6;
    --font-color: #FFFFFF;
    --font-hover: black;
    --background: rgba(0, 0, 0, 0.8);
    --background-2: #F2F9E7;
}